
/* HEADER */

header .nav-link {
    font-size: 0.9em;
    font-weight: 400;
    color: black;
    position: relative;
    color: black;
}

    header .nav-link::before {
        content: '';
        position: absolute;
        bottom: -0.1px;
        left: 0;
        width: 0;
        height: 0.3rem;
        background-color: white;
        transition: width 0.01s ease;
    }

header .nav-link:hover::before {
    width: 100%; 
    transition: width 0.3s ease; 
}

header .btn {
    border: 1px solid white;
    border-radius: 0;
}

header .btn:hover {
    border: 1px solid black;
    border-radius: 0;
  
}


/* FOOTER */

.footer-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

footer a {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
}

.footer-link {
    position: relative;
    color: white;
}

    .footer-link::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        top: 125%;
        transform: translateX(-50%);
        width: 0;
        height: 0.2rem;
        background-color: #ffffff;
        transition: width 0.3s ease;
        border-width: 0;
    }

    .footer-link:hover::after {
        width: 100%;
        margin: 0;
    }

footer {
    background-color: #001F3F;
}
