

* {
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

header, footer {
    font-family: "Lato", sans;
    background-color: #001F3F;
}

body {
    background-color: white;
}

html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

img {
    filter: grayscale(0%);
}

img:hover {
    filter: grayscale(100%);
}

/*------COLORES--------*/

.sub-yellow {
    border-bottom: 1rem solid #ffcc00;
}

.big-sub-yellow {
    border-bottom: 1rem solid #ffcc00;
}

.mini-sub-yellow {
    border-bottom: 0.5rem solid #ffcc00;
}


.tag-blue {
    background-color:#001F3F;
}

.btn-blue:hover {
    background-color: #001F3F;
    color: white;
    border: 1px solid transparent;
}

.btn-black {
    background-color: #001F3F;
    color: white;
    border: 1px solid white;
    border-radius: 0;
}

    .btn-black:hover {
        background-color: white;
        color: #001F3F;
        border: 1px solid #001F3F;
    }

.btn-blue {
    background-color: #001F3F;
    color: white;
    border: 1px solid #001F3F;
    border-radius: 0;
}