header .nav-link {
    font-size: 0.9em;
    font-weight: 400;
    color: black;
    position: relative;
  
}

header .nav-link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.2rem;
    background-color: #ffffff;
    transition: width 0.3s ease;
    border-width: 0;
}

header .nav-link:hover::before {
    width: 100%; 
    transition: width 0.3s ease; 
}



