


<div class="container my-5">
    <div class="row">
        <div class="col">
            <form method="get" action="/Properties/CreateRentalContract/@ViewBag.id">
                <button type="submit" class="btn btn-outline-dark rounded-0 border-0 w-25">Alquilar propiedad</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="/Properties/ToRent/@ViewBag.id">
                <button type="submit" class="btn btn-outline-dark rounded-0 border-0 w-25">En busqueda de alquiler</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="/Properties/Inactive/@ViewBag.id">
                <button type="submit" class="btn btn-outline-dark rounded-0 border-0 w-25">Inactivar</button>
            </form>
        </div>
    </div>
</div>
