@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<form class="container w-50 my-5 p-5">
    <div class="mb-4"><p class="title text-center">SOLICITUD INFORMACIÓN | CLASES DE REFUERZO PARTICULARES</p></div>
    <div class="mb-3  mt-5">
        <label for="nombreCompleto" class="form-label">Nombre completo (Solicitante)</label>
        <input type="text" class="form-control" id="nombreCompleto" required>
    </div>
    <div class="mb-3  mt-3">
        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3  mt-3">
        <label for="telefono" class="form-label">Número de teléfono</label>
        <input type="tel" class="form-control" id="telefono" required>
    </div>
    <div class="mb-3  mt-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="tel" class="form-control" id="direccion" required>
    </div>
    <div id="Help" class="form-text">*Los datos que se faciliten serán utilizados únicamente para contactar con usted..</div>

    <div class="mb-3  mt-3">
        <p id="subject-string"></p>
        <label class="form-label">Seleccione las materias que necesite reforzar</label>
        <div class="container-fluid p-3">
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="lenguaGallega" name="asignatura" value="lengua-gallega" class="check-subject">
                    <label for="lenguaGallega">Lengua Gallega</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="matematicas" name="asignatura" value="matematicas" class="check-subject">
                    <label for="matematicas">Matemáticas</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="cienciasSociais" name="asignatura" value="ciencias-sociais" class="check-subject">
                    <label for="cienciasSociais">Ciencias Sociais</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="cienciasNaturais" name="asignatura" value="ciencias-naturais" class="check-subject">
                    <label for="cienciasNaturais">Ciencias Naturais</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="educacionFisica" name="asignatura" value="educacion-fisica" class="check-subject">
                    <label for="educacionFisica">Educación Física</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="religion" name="asignatura" value="religion" class="check-subject">
                    <label for="religion">Relixión (Religión)</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="linguaCastellana" name="asignatura" value="lingua-castellana" class="check-subject">
                    <label for="linguaCastellana">Lengua Castellana</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="historia" name="asignatura" value="historia" class="check-subject">
                    <label for="historia">Historia</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="geografia" name="asignatura" value="geografia" class="check-subject">
                    <label for="geografia">Xeografía (Geografía)</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="plastica" name="asignatura" value="plastica" class="check-subject">
                    <label for="plastica">Educación Plástica, Visual e Audiovisual</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="musica" name="asignatura" value="musica" class="check-subject">
                    <label for="musica">Música</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="tecnoloxia" name="asignatura" value="tecnoloxia" class="check-subject">
                    <label for="tecnoloxia">Tecnoloxía</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" id="educacionEticoCivica" name="asignatura" value="educacion-etico-civica" class="check-subject">
                    <label for="educacionEticoCivica">Educación Ético-Cívica</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" id="linguaExtranxeira" name="asignatura" value="lingua-extranxeira" class="check-subject">
                    <label for="linguaExtranxeira">Lingua Estranxeira (Inglés)</label>
                </div>
            </div>
        </div>

    </div>



    <div class="mb-3 mt-3">
        <label for="mensaje" class="form-label">
            ¿Tienes alguna pregunta sobre los servicios?
        </label>
        <textarea class="form-control" id="mensaje" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-center align-items-center my-3">
        <a class="button_slide slide_left" id="more-info">SOLICITAR INFORMACIÓN</a>
    </div>

</form>


<script src="/js/requestOSA.js"></script>