@{
    ViewData["Title"] = "Inicio";
}





<section class="container-fluid p-0 animation-to-left shadow bg-white">
    <div class="row">
        <div class="col-lg-7 position-relative">
            <div class="image-container">
                <img class="w-100 img-fluid" src="/images/header/header-4.jpg" />

            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <div class="container p-4">
                <div class="w-100 mb-1 mb-xl-5 p-0 sub-blue">
                    <p class="fs-1 fw-bold">THIS IS KALARIA!</p>
                </div>
                <p class="fs-5 text-black mt-5">
                    ¡Bienvenido a <strong>Kalaria</strong>! ¡Donde la imaginación cobra vida y el aprendizaje es una aventura emocionante! Somos una empresa versátil que ofrece tanto servicios de animación infantil para eventos y campamentos como una innovadora academia para niños de primaria. En Kalaria, nos esforzamos por crear un ambiente único que estimule el crecimiento integral de cada niño. Nuestras instalaciones excepcionales están diseñadas para inspirar la creatividad, promover el aprendizaje y brindar momentos inolvidables. Desde actividades lúdicas hasta programas educativos, en Kalaria encontrarás un espacio donde los sueños se hacen realidad y la diversión nunca termina. ¡Únete a nosotros en Kalaria y descubre un mundo lleno de posibilidades para tu hijo!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid text-center animation-to-right px-4 py-2  py-xl-5 shadow">
    <div class="row ">
        <div class="col-12 col-xl-6 p-1 d-flex align-items-center">
            <a asp-action="" asp-controller=""></a>
        </div>
        <div class="col-12 col-xl-6 p-1 d-flex align-items-center">
            <a asp-action="" asp-controller=""></a>
        </div>
    </div>

</section>


