.animation-to-left {
    --view-timeline-name: --left;
    --view-timeline-axis: block;
    --animation-timeline: --left;
    animation: var(--animation-timeline) 0.001s ease-out;
    display: var(--view-timeline-axis);
    opacity: 0;
}
@keyframes ToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.animation-to-right {
    --view-timeline-name: --right;
    --view-timeline-axis: block;
    --animation-timeline: --right;
    animation: var(--animation-timeline) 1s ease-out;
    display: var(--view-timeline-axis);
    opacity: 0;
}

@keyframes ToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


