
/* HEADER */

header .nav-link {
    font-size: 0.9em;
    font-weight: 400;
    color: black;
    position: relative;
    color: black;
}

    header .nav-link::before {
        content: '';
        position: absolute;
        bottom: -0.1px;
        left: 0;
        width: 0;
        height: 0.3rem;
        background-color: #001F3F;
        transition: width 0.01s ease;
    }

header .nav-link:hover::before {
    width: 100%; 
    transition: width 0.3s ease; 
}

header .btn {
    border: 1px solid #001f3f;
    border-radius: 0;
}

header .btn:hover {
    border: 1px solid black;
    border-radius: 0;
  
}


/* FOOTER */

footer {
    background-color: #001F3F;
    color: white;
}

footer .nav-link {
    font-size: 1em;
    font-weight: 300;
    color: black;
    position: relative;
    color: black;
}

    footer .nav-link::before {
        content: '';
        position: absolute;
        bottom: -0.1px;
        left: 0;
        width: 0;
        height: 0.85px;
        background-color: white;
        transition: width 0.3s ease;
    }

    footer .nav-link:hover::before {
        width: 100%;
        transition: width 0.3s ease;
    }

    footer .btn {
        border: 1px solid #001f3f;
        border-radius: 0;
    }

    footer .btn:hover {
        border: 1px solid black;
        border-radius: 0;
    }