@{
    ViewData["Title"] = "¿Quiénes somos?";
}
@{
    Layout = "_Layout";
}
<section class="container-fluid p-0 animation-to-left shadow bg-white">
    <div class="row">
        <div class="col-lg-7 position-relative">
            <div class="image-container">
                <img class="w-100 img-fluid" src="/images/about/about-header.jpg" />

            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <div class="container p-4">
                <div class="w-100 mb-1 mb-xl-5 p-0 sub-blue">
                    <p class="fs-1 fw-bold">¿QUIÉNES SOMOS?</p>
                </div>
                <p class="fs-5 text-black mt-5">
                    En <strong>KALARIA</strong>, buscamos apasionados profesionales de la docencia, dispuestos a destacar sus habilidades.
                    Ya seas un educador experimentado en el sector o un recién graduado, te invitamos a formar parte de nuestro equipo y contribuir al crecimiento y éxito de nuestro proyecto.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid text-center animation-to-right px-4 py-2  py-xl-5 shadow">
    <div class="row">
        <div class="col-12 col-xl-5 p-2 d-flex align-items-center">
            <div class="container text-xl-end p-4">
                <div class="w-100 mb-1 mb-xl-5 p-0 sub-yellow">
                    <p class="fs-2 fw-bold">MOTIVO</p>
                </div>
                <p class="fs-6 text-black">
                   En <strong>KALARIA </strong>cultivamos el aprendizaje con alegría y creatividad, donde cada niño descubre su potencial mientras se sumerge en un mundo de diversión educativa.
                   ¡Transformamos el aprendizaje en una aventura inolvidable para cada pequeño explorador!
                </p>
            </div>

        </div>
        <div class="col-12 col-xl-7 p-1">
           <img src="/images/about/about-2.jpg" class="w-100" />
        </div>
    </div>
</section>

<section class="container-fluid text-center animation-to-left px-xl-4 py-2 py-xl-5 shadow">
    <div class="row">
        <div class="order-2 order-xl-0 col-12 col-xl-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143072.3814645766!2d-8.790785490157002!3d42.24059897815633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd244535ec53e52b%3A0x8fc4ed4e7dd24d49!2sVigo%2C%20Pontevedra!5e0!3m2!1sen!2ses!4v1644819763152!5m2!1sen!2ses" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-12 col-xl-6 p-2 d-xl-flex align-items-center my-5">
            <div class="container text-xl-start">
                <div class="w-100 mb-xl-5 p-0 sub-yellow">
                    <p class="fs-2 fw-bold">¿DÓNDE ESTAMOS?</p>
                </div>
                <p class="fs-6 text-black d-none d-lg-flex">
                    Nos encontramos en Algun Lugar, Código Postal 36320, España, ¡ven y descubre nuestras instalaciones en Kalaria!
                </p>
            </div>
        </div>
    </div>
</section>
