@{
    ViewData["Title"] = "La academia";
}
@{
    Layout = "_Layout";
}

<section class="container-fluid p-0 animation-to-left shadow bg-white">
    <div class="row">
        <div class="col-lg-7 position-relative">
            <div class="image-container">
                <img class="w-100 img-fluid" src="/images/work/work-header.jpg" />
            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <div class="container p-4">
                <div class="w-100 mb-1 mb-xl-5 p-0 sub-blue">
                    <p class="fs-1 fw-bold">ÚNETE AL EQUIPO</p>
                </div>
                <p class="fs-5 text-black mt-5">
                    En <strong>KALARIA</strong>, buscamos apasionados profesionales de la docencia, dispuestos a destacar sus habilidades.
                    Ya seas un educador experimentado en el sector o un recién graduado, te invitamos a formar parte de nuestro equipo y contribuir al crecimiento y éxito de nuestro proyecto.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid text-center px-4 py-2 py-xl-5 shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animation-to-right">
                <div class="card border-0 shadow h-100">
                    <img class="card-img-top" src="/images/work/work-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="w-100 mb-1 mb-xl-5 p-0 sub-yellow">
                            <p class="fs-3 fw-bold">DOCENTE</p>
                        </div>
                        <a class="button_slide slide_left" asp-area="" asp-controller="Requests" asp-action="RequestJobTeacher">TRABAJA CON NOSOTROS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animation-to-left">
                <div class="card border-0 shadow h-100">
                    <img class="card-img-top" src="/images/work/work-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="w-100 mb-1 mb-xl-5 p-0 sub-yellow">
                            <p class="fs-3 fw-bold">ANIMADOR/A</p>
                        </div>
                        <a class="button_slide slide_left" asp-area="" asp-controller="Requests" asp-action="RequestJobEntertainer">TRABAJA CON NOSOTROS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






