@{
    ViewData["Title"] = "Home Page";
}


<h1>Precio del Oro</h1>

<label for="fecha">Selecciona una fecha:</label>
<input type="date" id="fecha" name="fecha">

<div id="precio-oro"></div>

<canvas id="graficaOro" width="400" height="400"></canvas>
